<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5e2741203f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"
        integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>Node.js & Passport App</title>
</head>

<body>

    <div class="row mt-2">
        <div class="col-md-12 m-auto">
            <div class="card card-body text-center">
                <h1>Decoders</h1>
                <p> A one stop platform to track the journey of teachers from recruitment to entire service duration.
                </p>

                <div class="col-md-10 m-auto">
                    <!-- <canvas id="myChart" width="400" height="400"></canvas> -->
                </div>

                <div class="col-md-3 m-auto">
                    <a href="/welcome-screen" class="btn btn-primary btn-block mb-2">Sign in or register</a>
                </div>

            </div>
        </div>
    </div>

    <div style="display: flex; justify-content: space-evenly; flex-wrap: wrap;" class="mt-5">
        <div class="chart-container" style="position: relative; height:20vh; width:35vw">
            <canvas id="myChart1"></canvas>
        </div>

        <div class="chart-container" style="position: relative; height:20vh; width:30vw">
            <canvas id="myChart2"></canvas>
        </div>

    </div>



    <script>
        const states_data = {
            'Andaman and Nicobar Islands': 100,
            'Andhra Pradesh': 200,
            'Arunachal Pradesh': 45,
            'Assam': 67,
            'Bihar': 04,
            'Chandigarh': 78,
            'Chhattisgarh': 99,
            'Dadra and Nagar Haveli': 38,
            'Daman and Diu': 100,
            'Delhi': 10,
            'Goa': 20,
            'Gujarat': 56,
            'Haryana': 88,
            'Himachal Pradesh': 33,
            'Jammu and Kashmir': 34,
            'Jharkhand': 29,
            'Karnataka': 74,
            'Kerala': 5,
            'Ladakh': 9,
            'Lakshadweep': 10,
            'Madhya Pradesh': 5,
            'Maharashtra': 7,
            'Manipur': 20,
            'Meghalaya': 35,
            'Mizoram': 39,
            'Nagaland': 10,
            'Odisha': 19,
            'Puducherry': 29,
            'Punjab': 10,
            'Rajasthan': 42,
            'Sikkim': 11,
            'Tamil Nadu': 20,
            'Telangana': 100,
            'Tripura': 18,
            'Uttar Pradesh': 29,
            'Uttarakhand': 12,
            'West Bengal': 19,
        };

        const categories_data = {
            'primary': 1006,
            'TGT': 7800,
            'PGT': 4759
        }

        let states = [], population = [], categories = [], cat_population = []
        for (const state in states_data) {
            states.push(state)
            population.push(states_data[state])
        }

        for (const category in categories_data) {
           categories.push(category)
           cat_population.push(categories_data[category])
        }

        const ctx1 = document.getElementById('myChart1').getContext('2d');
        const myChart1 = new Chart(ctx1, {
            type: 'bar',
            data: {
                labels: states,
                datasets: [{
                    label: '# of teachers',
                    data: population,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 0.5
                }]
            },
            options: {
                indexAxis: 'y',
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        const ctx2 = document.getElementById('myChart2').getContext('2d');
        const myChart2 = new Chart(ctx2, {
            type: 'pie',
            data: {
                labels: categories,
                datasets: [{
                    label: '# of Votes',
                    data: cat_population,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>

</html>